*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
}

header {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 50vw;
    background: #000;
    color: #fff;
    border-radius: 20px;
}

.lyrics {
    font-family: 'Mansalva', cursive;
    text-align: center;
    background: #cfcfcf;
}

.lyrics p {
    margin: 40px 0;
}

footer {
    text-align: center;
    font-size: 12px;
}
